/*div{
	display: inline-block;	/* perbaiki di HTMLnya*/
	/*display: inline;
}*/

.satu{
	width: 200px;
	height: 200px;
	background-color: lightgreen;

	margin:10px 20px 30px 40px; /* searah jarum jam mulai dari top*/
	/*margin-bottom: 30px;*/ /* case disini overlapping*//*kesimpulan disini 30px dan -50px itu saling memotong*/
	/*margin-right: 30px;  case overlapping*/
	/*margin-left: 100px;
	margin-top: 30px;
	margin-bottom: 150px;
	margin-right: 50px; */
}

.dua{
	width: 100px;
	height: 100px;
	background-color: lightblue;
	/*margin-top: -50px;
	margin-left: 100px;*/
	/*margin-top: 50px;  gak pengaruh karena dari class 1*/
}

.tiga{
	width: 50px;
	height: 50px;
	background-color: violet;
}
/*
.satu,.dua,.tiga{
	margin-left: auto;
	margin-right: auto; /*ini css nya auto}*/
